<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="HogarEntities" connectionString="metadata=res://*/EFModels.Hogar.csdl|res://*/EFModels.Hogar.ssdl|res://*/EFModels.Hogar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbresources.database.windows.net;initial catalog=DBTestsApp;user id=***************;password=*************;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>